
*{
    background: rgb(247, 234, 208);
}


.divs{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 140px;
    width:  150px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

.colortext{
    color: blue;
}

.divs .div1{
    color: red;
}

.divs .div2{
    color: blue;
}

.divs .div3{
    color: green;
}

.divs .div4{
    color: purple;
}

footer{
    color: black;
    padding: 10px;
    text-align: center;
}

